* {
  font-weight: lighter;
}
@media only screen and (max-width: 600px) {
  .main-wrapper {
    width: 80% !important;
  }
}
@media only screen and (max-width: 476px) {
  .main-wrapper {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1124px) {
  .main-wrapper {
    width: 70% !important;
  }
}
.title {
  font-size: 58px;
  line-height:55px;
  text-wrap: wrap;
}